{% extends 'base.html' %}
{% block body %}
    <section id="form" style="margin: 0 auto 30px 350px;"><!--form-->
        <div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">
					<div class="login-form"><!--login form-->
						<h2>Login to your account</h2>
						<form method="post">
                             {% csrf_token %}
                        {% for field in form %}
                                {{ field.errors }}
                                <label>{{field.label_tag}}</label>
                                <p>{{field}}</p>
                        {% endfor %}
                                <a href="{% url 'password_reset'%}" style="float:right"> FORGOT PASSWORD </a>
                        <button type="submit" class="btn btn-default">Login</button><br>
                                <a href="{% url 'signup' %}"><span style="color:black;margin-left:120px;">Create Your Account&nbsp;&rarr; </span></a>
						</form>
					</div><!--/login form-->
				</div>
        </div>
    </section><!--/form-->
{% endblock %}
